.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/*
Above is default.

EDITS SHOULD NOT BE MADE TO ABOVE SECTIONS.

Below has been added.

ONLY EDIT BELOW SECTIONS.
*/

navbar{
  margin: 15px;
}

header{
  margin: 15px;
}

footer{
  margin: 15px;
}
/*
a:link, a:visited {
  background-color: green;
  border: 5px solid red;
  color: white;
  text-decoration: none;
  padding: 5px;
  margin: 30px;
}

a:hover, a:active {
  background-color: red;
}
*/